body {
  background-color: #0f0f0f !important;
  color: #808080 !important;
  font-family: 'discord' !important;
  display: flex;
  place-items: center;
}

@font-face {

  font-family: 'discord';
  src: url('tipography/Montserrat-VariableFont_wght.ttf');

}


.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 2% 2% 0% 0%;
  height: 150px;
}

.image-container img {
  transform: scale(1.5);
  transition: transform 5s ease;
}

.image-container:hover img {
  transform: scale(1);
  transition: transform 5s ease;
}

.contenedor-perfil {
  width: 100%;
  /* Establece el ancho deseado del contenedor */
  overflow: hidden;
  /* Oculta el contenido que se desborda del contenedor */
  border-radius: 50%;
  /* Hace que el contenedor tenga esquinas redondeadas, creando un círculo */
}

.contenedor-perfil img {
  width: 100%;
  /* La imagen ocupará el 100% del ancho del contenedor */
  height: auto;
  /* La altura se ajustará automáticamente para mantener la proporción original */
  border-radius: 50%;
  /* Esto asegura que la imagen dentro del contenedor también sea redonda */
}

.descripcion {
  font-size: smaller !important;
}

.contenido-tab {
  padding: 7% 4% 4% 4% !important;
}

.opaco {
  opacity: 0.6 !important;
  font-size: small;
}

.bold {
  font-weight: bold !important;
  font-size: xx-large !important;
}

.btn {
  font-size: 0.8rem !important;
  padding: 10% 20% !important;
}

/* Cambiar color del texto del enlace no visitado */
.tab-boton {
  color: #c3c5c0 !important;
}

/* Cambiar color del texto del enlace cuando se pasa el mouse por encima */
.tab-boton:hover {
  color: #fff !important;
}

