body {
  background-color: #0f0f0f !important;
  color: #808080 !important;
  font-family: 'discord' !important;
  display: flex;
  place-items: center;
  overflow: auto;
}

@font-face {

  font-family: 'discord';
  src: url('tipography/Montserrat-VariableFont_wght.ttf');

}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 2% 2% 0% 0%;
  height: 150px;
}

.image-container img {
  transform: scale(1.5);
  transition: transform 5s ease;
}

.image-container:hover img {
  transform: scale(1);
  transition: transform 5s ease;
}

.contenedor-perfil {
  width: 100%;
  /* Establece el ancho deseado del contenedor */
  overflow: hidden;
  /* Oculta el contenido que se desborda del contenedor */
  border-radius: 50%;
  /* Hace que el contenedor tenga esquinas redondeadas, creando un círculo */
  
  transition: transform 0.2s
}

.contenedor-perfil img {
  width: 100%;
  /* La imagen ocupará el 100% del ancho del contenedor */
  height: auto;
  /* La altura se ajustará automáticamente para mantener la proporción original */
  border-radius: 50%;
  /* Esto asegura que la imagen dentro del contenedor también sea redonda */
}

.contenedor-perfil:hover{
  transform: scale(1.1) ;
}

.descripcion {
  font-size: smaller !important;
}

.contenido-tab {
  padding: 7% 4% 4% 4% !important;
}

.opaco {
  opacity: 0.6 !important;
  font-size: small;
}

.bold {
  font-weight: bold !important;
  font-size: xx-large !important;
}

.btn {
  font-size: 0.8rem !important;
  padding: 10% 20% !important;
}

/* Cambiar color del texto del enlace no visitado */
.tab-boton {
  color: #c3c5c0 !important;
}

/* Cambiar color del texto del enlace cuando se pasa el mouse por encima */
.tab-boton:hover {
  color: #fff !important;
}


.etiqueta {
  background-color: #292b2f;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: small;
  display: inline-flex;
  align-items: center;
  margin: 1px;
}

.circulo {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.nombre {
  flex-grow: 1; /* El texto ocupa todo el espacio disponible */
}

.proyecto {
  width: 100%; /* Establece el ancho inicial del componente */
  height: 100%; /* Establece la altura inicial del componente */
  transition: transform 0.6s; /* Añade una transición suave para el efecto */
}

.proyecto:hover {
  transform: scale(1.2) translateY(-9%); /* Escala el componente al 120% del tamaño original */
}


/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 1px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
  background: #555; /* Color de la barra del scrollbar */
}

.imagen-hover {
  transition: transform 0.2s, box-shadow 0.2s;
}

.imagen-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.iconos{
  width: 15%;
  margin: 0% 5%;
  transition: transform 0.2s
}

.iconos:hover{
  opacity: 0.6;
  transform: scale(1.2) ;
}

.texto-responsivo{
  font-size: medium !important;
}

.subtitulo{
  font-size: medium !important;
}

.divisor{
  margin: 5% 0% !important;
}

.boton-responsivo {
  font-size: small !important;
  padding: 15% 20% !important;
}
@media (max-width: 768px) {
  .texto-responsivo {
    font-size: larger !important;
  }
  .boton-responsivo {
    font-size: medium !important;
    padding: 3% 5% !important;
  }

  .iconos {
    width: 20%;
    margin: 10% 15% ;
  }

}

